

body {
    text-align: center;
    background-color: rgb(85, 85, 85);

}

h1 {
    overflow-y: scroll;
    
}
.slide {
    animation-name: nextView;
    animation-duration: 2s;
}
/* The dopest animation */
@keyframes nextView {
    0% {
        transform: translateY(0px) rotateX(0deg); 
    }
    15% {
        transform: translateX(-500px) rotateX(0deg); 
    }
    20% {
        transform: translateX(-500px) rotateX(90deg); 
    }
    50% {
        transform: translateX(500px) rotateX(90deg);
    }
    100% {
        transform: translateY(0px);
    }
}
